<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>476492475327-fn0t7tro6671ko6jelm4op2q4tav00gp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.476492475327-fn0t7tro6671ko6jelm4op2q4tav00gp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>476492475327-9lj1fks2ctjms6iepnjn0tf3o2hg0f2s.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD-IFJebrScJ_x-2h4ZtIJxEbCEaCFsVVw</string>
	<key>GCM_SENDER_ID</key>
	<string>476492475327</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.loskutnikoff.shoppingList</string>
	<key>PROJECT_ID</key>
	<string>shoppinglist-34633</string>
	<key>STORAGE_BUCKET</key>
	<string>shoppinglist-34633.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:476492475327:ios:54a1a060da0129df438f0a</string>
	<key>DATABASE_URL</key>
	<string>https://shoppinglist-34633-default-rtdb.firebaseio.com</string>
</dict>
</plist>